#board {
    width: 600px;
    margin: 0 auto;
}

.tile {
    width: 60px;
    height: 120px;
    background-color: white;
    border: 1px solid black;
    display: inline-block;
    margin: 5px;
    text-align: center;
    line-height: 120px;
    font-size: 20px;
}